<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <!-- <input type="submit" name="try" /> -->
  </form>
</div></div>

<br />

{% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }}
  {% endfor %}
</p>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- Mismatch, already found, etc. "flashed" from Python -->
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<p id="results"> </p>  <!-- JavaScript will insert text here -->
<p class="message"> </p>
<script>
// code copied from minijax
$("#entry").submit( function(event) {
   event.preventDefault();
  });

$("#attempt").keyup(function(event) {
   var txt = $("#attempt").val();  // Current content of the input field
   var keycode = event.which;      // They key that just went up
   var letter = String.fromCharCode(keycode);

   // That letter might not be a letter ... it could be the
   // the backspace key, or even the shift key, because 'keyup'
   // catches all kinds of keys.  (Also, the difference between
   // upper and lower case comes from state of shift key + key code,
   // so ignoring the shift key we get only the upper case letters.

   if (!"ABCDEFGHIJKLMNOPQRSTUVWXYZ".includes(letter)) { return }

   $.getJSON( "/_check", { text: txt },
              function(data) {
                rsval = data.result.word_result;
                end = data.success.End;
                results = data.message.found_message;
                console.log("rsval: " + rsval)
                if (rsval == 0) {
                   $("#results").html(results);
                   $(".message").html("");
                   $("#attempt").val("");
                }
                if (rsval == 1) {
                   $("#results").html(results);
                   $(".message").html("You already found " + txt);
                   //$("#response").css('color', 'red')
                   $("#attempt").val("");
                }
                if (rsval == 2) {
                   $("#results").html(results);
                   $(".message").html(txt + " can't be made from jumble letters");
                   //$("#response").css('color', 'red')
                }
                if (rsval == 3) {
                   $("#results").html(results);
                   $(".message").html(txt + " isn't in the list of words");
                   //$("#response").css('color', 'red')
                }

                if (end){
                    window.location.href = "success";
                }

              }
           );
   });

</script>




 </div> <!-- container -->
</body> </html>
